.item {
    display: inline-block;
    width: 20%;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}

.left-block {
    float: left;
    width: 30%; /* Пример ширины блока */
    box-sizing: border-box; /* Включите box-sizing для корректного расчета ширины */
}

.right-block {
    float: right;
    width: 30%;
    box-sizing: border-box;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}
.container {
    text-align: center;
}