.item {
    display: inline-block;
    width: calc(33.33% - 10px); /* Наприклад, розділяємо контейнер на три рівні колонки з відступом по 10px між ними */
    margin: 0 5px; /* Додайте потрібні відступи */
}